/*Normalize*/
ul{
	padding:0;
}

body {
	margin:0px;
	padding:0px;
	font-family:ubuntu;
	background: #f0f0f0; /* Old browsers */
	overflow:hidden;
	
}
#container {
	width:90%;
	margin:auto;
}
hr.clear {
	margin:0px;
	padding:0px;
	height:0px;
	background:transparent;
	border:none;
	clear:both;
}
header {
	padding:10px 10px 5px 10px;
	color:#b2b2b2;
	border-bottom:solid 1px rgba(0,0,0,.08);
	margin-bottom:5px;
}
#mainLogo {
	background-image:url(../images/soundHUB_logo.png);
	height:90px;
	margin:0px 0px 0px 4px;
	width:192px;
}
header ul {
	padding:0px;
	margin:0px;
}
header ul.left {
	float:left;
}
header ul.right {
	float:right;
}
header li {
	list-style:none;
	display:inline;
	margin:0px;
}
header a:link, header a:visited {
	text-decoration:none;
	text-transform:uppercase;
	color:#b2b2b2;
}
section {
	margin-bottom:120px;
}
aside {
	float:left;
	width:25%;
	max-width:175px;
	height:100%;
	overflow-y:auto;
}
#search {
	float:left;
	margin-top:60px;
}
#query {
	width:200px;
	padding:6px;
	border-radius:5px;
	border:none;
}
#getQuery {
	background:transparent;
	font-weight:700;
	border:none;
	color:#777;
}
#genreSearch {
	text-align:right;
	padding:3px;
}
#genre {
	width:134px;
	margin:0px;
	border:0px;
	padding:3px;
	border-radius:5px;
}
#getGenre, #getQuery {
	margin:0px;
	background:#333;
	border-radius:3px;
	border:0px;
	color:#999;
	padding:3px;
}
.genre_item{
	display:block;
	background:rgba(240,240,240,.6);
	font-size:15px;
	text-align:center;
	color:#888;
	font-weight:normal;
	text-transform:lowercase;
	padding:8px;
	margin:4px 0px 4px 4px;
	box-shadow: inset 0px -10px 30px rgba(0,0,0,.1);
	border-radius:10px;
	border: 1px solid rgba(170, 170, 170, 0.5);
}
.genre_item:hover{
	background:rgba(230,230,230,.6);
}
.genre_item:active{
	background:rgba(180,180,180,.3);
	box-shadow: inset 0px -10px 30px rgba(0,0,0,.2);
}
aside span.current {
	background:rgba(100,106,219,.7);
	box-shadow: inset 0px -10px 30px rgba(0,0,0,.3);
	color:#fff;
}
#resultsApp {
	padding:30px;
	margin-left:175px;
	margin-bottom:120px;
	overflow-y:auto;
	color:#aaa;
}
#resultsList {
	margin:0px;
	padding:0px;
}
#resultsList li {
	list-style: none;
	margin: 5px;
	padding: 15px;
	color: rgb(153, 153, 153);
	width: 40%;
	display: inline-block;
	box-shadow: 1px 1px rgb(218, 218, 218);
}
}
#resultsList .albumArt {
	float:left;
}
#resultsList img {
	border-radius:5px;
	box-shadow:0px 2px 5px rgba(0,0,0,.2);
	border:3px solid rgba(0,0,0,.3);
	width:80px;
	height:80px;
	margin:15px 10px 0px 0px;
}
#resultsList h3 {
	color:#444;
	font-size:18px;
	font-weight:normal;
}
#resultsList .title {
	font-weight:bold;
	text-transform:uppercase;
}
.query {
	font-style:italic;
	color:#646adb;
}
#playlist {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:100px;
	background:#222;
	margin:0px;
	padding:10px;
}
#audioPlayer{
	position: fixed;
	bottom: 120px;
	left: 0px;
	width: 100%;
	background: #303030;
	padding: 5px 0px;
}
.songBlock {
	width:120px;
	background:#333;
	color:#fff;
	list-style:none;
	text-align:center;
	padding:4px;
	border-radius:3px;
	float:left;
	margin:0px 5px;
}
.songBlock:hover .remove{
	background: rgba(255, 0, 0, 0.5);
}
.songBlock .title {
	font-size:12px;
}
.songBlock .albumArt img {
	width:60px;
}
.remove{
	background: rgba(255, 0, 0, 0.2);
	border-radius: 100%;
	padding: 2px 7px;
	position: relative;
	top: 0;
	right: -50px;
	z-index: 15;
	text-transform: uppercase;
}
.addToPlaylist:hover, 
.remove:hover, 
#getGenre:hover,
.genre_item:hover,
#getQuery:hover{
	cursor: pointer;
}
i{
	font-size: 25px;
	margin: 10px;
}
i:hover{
	color: #555;
}
i:active{
	color: #fff;
}






/* Player Theme */

#progressBar { 
   border:1px solid rgba(250,250,250,0.1); 
   color:#fff; 
   width:80%; 
   height:15px;
   display: inline-block;
   position: relative;
}
#volume{
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 100px;
}
.volume_span{
	position: absolute;
	bottom: 25px;
	left: -5px;
	display: inline-block;
	padding: 2px;
	background:#303030;
	visibility: hidden;
}
.icon-volume-up{
	position: relative;
}
.icon-volume-up:hover .volume_span{
	visibility: visible;
}
.drag{
	background: #aaa;
	display: inline-block;
	height: inherit;
	width: 1%;
	position: absolute;
	top: 0;
}

#progress{
  width: 0px;
  height:inherit;
  /*border: 1px solid #f00;*/
  position: relative;
  left: 0px;
  top: 0;
}
#test{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 50, 50, 0.2);
}
#drag{
  position: absolute;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: #ccc;
}
/* End Player Theme */




.faded{
	opacity: .2;
}
.currentTrack{
	background: rgb(100, 100, 100);
}