/*
Syntax error: Invalid CSS after "@function emCalc(": expected ")", was "$pxWidth) {"
        on line 20 of scss/foundation/_variables.scss
        from line 1 of scss/app.scss

Backtrace:
scss/foundation/_variables.scss:20
scss/app.scss:1
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:819:in `expected'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:796:in `expected'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:792:in `tok!'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:680:in `function'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:661:in `term'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:648:in `expr'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:114:in `block in directive'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:722:in `str'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:114:in `directive'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:339:in `block_child'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:333:in `block_contents'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:26:in `parse'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/engine.rb:205:in `_to_tree'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/engine.rb:177:in `to_tree'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/files.rb:44:in `tree_for'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/import_node.rb:75:in `perform!'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/node.rb:305:in `_perform'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/import_node.rb:64:in `_perform'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/node.rb:213:in `perform'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/root_node.rb:37:in `perform'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/node.rb:326:in `block in perform_children'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/node.rb:326:in `map'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/node.rb:326:in `perform_children'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/node.rb:317:in `perform!'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/node.rb:305:in `_perform'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/node.rb:213:in `perform'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/root_node.rb:37:in `perform'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/tree/root_node.rb:29:in `render'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/plugin.rb:78:in `each'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/plugin.rb:76:in `each'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/plugin.rb:176:in `block (4 levels) in watch'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/path.rb:30:in `create'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/state/directory.rb:23:in `block in created'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/state/directory.rb:23:in `each'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/state/directory.rb:23:in `created'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/state/directory.rb:15:in `refresh'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/sass/plugin.rb:164:in `watch'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/haml/exec.rb:448:in `watch_or_update'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/haml/exec.rb:351:in `process_result'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/haml/exec.rb:41:in `parse'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/lib/haml/exec.rb:21:in `parse!'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/gems/haml-3.0.22/bin/sass:8:in `<top (required)>'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/bin/sass:23:in `load'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/bin/sass:23:in `<main>'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `eval'
/Users/davidmonaghan/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@function emCalc(\": expected \")\", was \"$pxWidth) {\"\A         on line 20 of scss/foundation/_variables.scss\A         from line 1 of scss/app.scss"; }
