.contain-to-grid.fixed.sticky {
    margin:0;
    padding:0;
    background: inherit;
}
.contain-to-grid.fixed.sticky .columns {
    margin:0;
    padding:0;
}

[class*="block-grid-"] {
    margin: 0;
}

#audioBar {
    background: #ccc;
    margin:0;
    padding:0;
}

#audioPlayer {
    height:50px;
    line-height: 3em;
    background: #f3f3f3;
}

#audioPlayer .button {
    height: 32px;
}

#progressBar {
    margin: 0;
    padding:0;
    margin-top: .67em;
    position:relative;
    left:1em;
    top:0;
    background: #777;
}

@media only screen and (max-width: 768px) {
 #progressBar {
    top:-.5em;
}    
}

#playlistApp {
    overflow-y: scroll;
    left:0;
    padding-left: 20px;
    padding-bottom: .5em;
    min-height: 3em;
}

#playlist .trackBlock {
    height: 4.2em;
    width: 6em;
    overflow: hidden;
    position: relative;
    background: #999;
    margin:0 7px;
    border-radius: .2em;
}
#playlist .trackBlock .albumArt {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    z-index: 0;
}
#playlist .trackBlock .title {
    position: absolute;
    font-size: .6em;
    line-height: 100%;
    top:25px;
    left:0;
    width: 100%;
    text-align:center;
    color: white;
}
#playlist .trackBlock.currentTrack {
    background: red;
}
#playlist .trackBlock.faded {
    opacity: .2;
}
#playlist .trackBlock .remove {
    position: absolute;
    bottom:3px;
    left:3px;
    z-index: 9001;
    width:1.1em;
    height:1.1em;
    background: none !important;
    border: none !important;
    margin:0;
    padding:0;
}
#playlist .trackBlock .handle {
    z-index: 9001;
    color: #ccc;
    position: absolute;
    top: 7px;
    left: 7px;
    margin:auto 0;
}

.button[status=active] {
    background:green;
}

#longTermControls,
#shortTermControls {
    height: 100%;
    font-size: 23pt;
    line-height: 3rem;
}

.button.mute-icon,
.button.mute-icon[status=inactive] {
    background: orange;
}
.button.mute-icon[status=inactive] {
    background:red;
}

#longTermControls .volume-wrapper {
    position: relative;
}
.volume-wrapper .volume-slider {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 9002;
}
