/*Normalize*/
ul{
	padding:0;
	list-style-type: none;
}

body {
	margin:0;
	padding:0;
	font-family:ubuntu;
	background: #f0f0f0; /* Old browsers */
	overflow:hidden;
	
}
#container {
	width:90%;
	margin:auto;
}
hr.clear {
	margin:0;
	padding:0;
	height:0;
	background:transparent;
	border:none;
	clear:both;
}
header {
	padding:10px 10px 5px 10px;
	color:#b2b2b2;
	border-bottom:solid 1px rgba(0,0,0,.08);
	margin-bottom:5px;
}
#mainLogo {
	background-image:url(../images/soundHUB_logo.png);
	height:90px;
	margin:0 0 0 4px;
	width:192px;
}
#poweredBySoundCloudLogo {
	background-image: url(../images/powered_by_soundcloud.png);
}
header ul {
	padding:0;
	margin:0;
}
header ul.left {
	float:left;
}
header ul.right {
	float:right;
}
header li {
	list-style:none;
	display:inline;
	margin:0;
}
header a:link, header a:visited {
	text-decoration:none;
	text-transform:uppercase;
	color:#b2b2b2;
}
section {
	margin-bottom:120px;
}
aside {
	float:left;
	width:175px;
	height:100%;
	overflow-y:hidden;
}
#search {
	float:left;
	margin-top:60px;
}
#query {
	width:200px;
	padding:6px;
	border-radius:5px;
	border:none;
}
#getQuery {
	background:transparent;
	font-weight:700;
	border:none;
	color:#777;
}
#genreSearch {
	text-align:right;
	padding:3px;
}
#genre {
	width:134px;
	margin:0;
	border:0;
	padding:3px;
	border-radius:5px;
}
#getGenre, #getQuery {
	margin:0;
	background:#333;
	border-radius:3px;
	border:0;
	color:#999;
	padding:3px;
}
.genre_item{
	display:block;
	background:rgba(240,240,240,.6);
	font-size:15px;
	text-align:center;
	color:#888;
	font-weight:normal;
	text-transform:lowercase;
	padding:8px;
	margin:4px 0 4px 4px;
	box-shadow: inset 0 -10px 30px rgba(0,0,0,.1);
	border-radius:10px;
	border: 1px solid rgba(170, 170, 170, 0.5);
	position: relative;
}
.genre_item:hover{
	background:rgba(230,230,230,.6);
}
.genre_item:active{
	background:rgba(180,180,180,.3);
	box-shadow: inset 0 -10px 30px rgba(0,0,0,.2);
}
#genreApp{
	width: 355px;
}
#genreApp ul{
	display: inline-table;
	width: 175px;
}
#genreApp #toPlaylist{
  position: absolute;
  top: 155px;
  left: -10px;
  padding: 200px 10px;
  width: 40px;
  color: rgb(200, 200, 200);
}
#genreApp #toPlaylist:hover{
  color: rgb(50, 50, 50);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
#genreApp #toPlaylist:active{
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
aside span.current {
	background:rgba(100,106,219,.7);
	box-shadow: inset 0 -10px 30px rgba(0,0,0,.3);
	color:#fff;
}
#resultsApp {
	padding-left: 2%;
	margin-left: 175px;
	margin-bottom: 120px;
	overflow-y: auto;
	color: #aaa;
	max-height: 700px;
	/*background: url("../images/Speaker-Picture.png") no-repeat top left;*/
}
#resultsList {
	margin:0;
	padding:0;
}
#resultsList li {
	list-style: none;
	margin: 5px;
	padding: 15px;
	color: rgb(153, 153, 153);
	width: 40%;
	height: 160px;
	display: inline-table;
	box-shadow: 1px 1px rgb(218, 218, 218);
}

#resultsList .albumArt {
	float:left;
}
#resultsList .albumArt{
	display: inline-table;
}
#resultsList .albumArt img {
	border-radius:5px;
	box-shadow:0 2px 5px rgba(0,0,0,.2);
	border:3px solid rgba(0,0,0,.3);
	width:80px;
	height:80px;
	margin:15px 10px 0 0;
}
#resultsList h3 {
	color:#444;
	font-size:18px;
	font-weight:normal;
}
#resultsList .title {
	font-weight:bold;
	text-transform:uppercase;
}
.query {
	font-style:italic;
	color:#646adb;
}
#playlistApp {
	overflow-y: hidden;
	overflow-x: scroll;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:125px;
	background:#CCC;
	margin:0;
	padding:10px;
	z-index: 9001 !important;
}
#playlist{
	margin: 0;
	list-style: none;
	overflow: auto;
	white-space: nowrap;
}
#audioPlayer{
	position: fixed;
	height: 25px;
	bottom: 145px;
	left: 0;
	width: 100%;
	background: #f9f9f9;
	padding: 5px 0;
	margin:0;
	z-index: 9001;
}
.songBlock {
	display: inline-table;
	width:120px;
	height: 120px;
	background:#333;
	color:#fff;
	list-style:none;
	text-align:center;
	padding:4px;
	border-radius:3px;
	margin:0 5px;
	white-space: normal;
	position: relative;
}
.songBlock:hover .remove{
	background: rgba(255, 0, 0, 0.5);
}
.songBlock .title {
	font-size:12px;
	max-height: 42px !important;
	display: block;
	overflow: hidden;
}
.songBlock .albumArt img {
	width: 60px;
	height: 60px;
}
.songBlock .artist{
	clear: both;
}
.songBlock .icon-ellipsis-horizontal {
	margin: auto;
	color: rgba(250,250,250,0.2);
}
.songBlock .icon-ellipsis-horizontal:hover {
	color: rgba(250,250,250,1);
}
.songBlock.currentTrack .remove {
	display:none;
}
.remove{
	background: rgba(255, 0, 0, 0.2);
	border-radius: 100%;
	padding: 2px 7px;
	position: absolute;
	top: 0;
	right: 0;
	text-transform: uppercase;
}
.genre_item .remove{
	position: absolute;
	right: 5px;
	top: 5px;
	display: none;
}
.addToPlaylist:hover, 
.remove:hovadder, 
#getGenre:hover,
.genre_item:hover,
#getQuery:hover{
	cursor: pointer;
}
.addToPlaylist{
	clear: both;
}
i{
	font-size: 25px;
	margin: 10px;
}
i:hover{
	color: #555;
}
i:active{
	color: #fff;
}






/* Player Theme */
#audioPlayer #shortTermControls {
	float: left;
	width: 150px !important;
}
#audioPlayer .volume-slider {
    width: 20px;
    height: 100px;
}
#audioPlayer .volume-wrapper {
	position: relative;
}
#audioPlayer .volume-slider-wrapper {
	padding:0;
	margin:0;
	display:none;
	position:absolute;
	bottom:25px;
	left: 3px;
	height: 150px;
	width: 32px;
	background: #f9f9f9;
	text-align:center;
	padding-top:1.2rem;
	border-radius: 7px 7px 0 0;
}
#audioPlayer .volume-slider{
	display:block;
	background:#303030;
	height: 77%;
	width:13px;
	margin: auto;

}
#audioPlayer .volume-slider .ui-slider-range {
	background: #DD3841;
}
#audioPlayer .volume-slider .ui-slider-handle {
	width: 15px;
	left:-.1em;
	background: #E3DF50;
}
#audioPlayer .volume-slider .ui-handle-helper-parent {
	position: relative;
	width: 100%;
	height: 100%;
}
#audioPlayer #progressBar.ui-slider { 
	border:1px solid rgba(250,250,250,0.1); 
	background: #111;
	color:#fff;
	margin-left: 140px;
	margin-top: 5px;
	margin-right: 155px;
	height:15px;
}
#audioPlayer #progressBar .ui-slider-handle{
	background: #E3DF50;
	width: 10px;
}
#audioPlayer #progressBar .ui-slider-range{
	background: #DD3841;
}

#audioPlayer #longTermControls {
	float: right;
	width: 145px !important;
}
/* End Player Theme */




.faded{
	opacity: .2;
}
.currentTrack{
	background: #DD3841;
}

#genres_list, #playlists_list{
	display: inline-block;
}
.genreAppInput{
	width:134px;
	margin:0;
	border:0;
	padding:3px;
	border-radius:5px;
}
.genreAppButton{
	margin:0;
	background:#333;
	border-radius:3px;
	border:0;
	color:#999;
	padding:3px;
}

.button,
[type="button"] {
	cursor: pointer;
	color: #4C3940;
}

.button:hover,
[type="button"]:hover {
	color: #4C7F8C;
}

#audioPlayer .button[disabled] {
	cursor: default;
	-webkit-filter: opacity(0.2);
	-ms-filter: opacity(0.2);
	filter: opacity(0.2);
}
#audioPlayer .button[disabled]:hover {
}

#longTermControls .button {
	color: #DD3841;
}
#audioPlayer .button[status="inactive"] {
	color: #293B40;
}
#audioPlayer .button[status="inactive"]:hover {
	color: #4C3940;
}

.waveformImageWrapper {
	background:#ccc;
}
.duration {
	position: relative;
	top:20%;
	left:42%;
}



::selection {
	background: inherit !important;
}
::-moz-selection {
	background: inherit !important;
}
::-webkit-selection {
	background: inherit !important;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px; 
	z-index: 999;
}

